.style-unordered-list{
    padding: 0;
    margin-bottom: 0
  }
  .google-covert{
    
        border: 1px solid #ccc;
        box-shadow: -1px 2px 4px #ccc;
        width: 100%;
    
}
.location-box{
width:100%;
height: 40px;
padding-left: 20px;
white-space: nowrap;
overflow: hidden !important;
text-overflow: ellipsis;
}
.style-list {
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #aaa;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.style-list:hover {
  background-color: #e7e7e7;
}
.current-loc-ico{

    height: 17px;
    padding-right: 10px;

}
